.footer {
  position: relative;
  width: 100%;
  min-height: 260px;
  background: #000000;
  padding: 10px 0;
  z-index: 1;
}

.footer .social-area {
  margin-top: 90px;
  width: 40%;
}

.footer .social-area ul {
  z-index: 1;
  display: block;
  width: 100%;
  padding: 0;
  text-align: right;
  position: absolute;
  right: 7%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.footer .social-area ul li {
  display: inline-block;
  text-align: center;
  line-height: 0;
}

.footer .social-area ul li a {
  font-family: 'Open Sans', sans-serif;
}

.footer .social-area ul li a i {
  /* position: absolute; */
  display: block;
  /* right: 0; */
  margin-left: 20px;
  /* width: 58px; */
  padding: 0 20px;
  text-align: center;
  color: white;
}

.footer .social-area ul li a i:hover {
  color: #818181;
}

.footer .credits {
  font-family: 'Proxima Nova', Georgia, sans-serif;
  font-weight: normal;
}

.footer .credits p {
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
}

.footer .credits p a {
  color: #63d488;
}

.footer .credits p a:hover {
  text-decoration: underline;
}

.footer .credits .footer-name {
  font-size: 25px;
}

.footer .copyright-footer {
  position: relative;
  display: block;
  text-align: center;
}

.footer .copyright-footer p {
  font-size: 20px;
}

.footer .copyright-footer a {
  color: #333;
  text-decoration: underline;
}

.footer .credits {
  width: 100%;
  color: #474747;
  text-align: center;
  font-size: 20px;
  line-height: 1px;
  padding: 0;
  /* left: 9%; */
}

.footer-white {
  color: #fff;
  font-weight: normal;
}

.slice-footer {
  height: 180px;
  margin-top: -100px;
}
