.float_on_the {
  text-align: center;
  left: 0;
  top: 15%;
  /*bottom: 0;*/
  /*right: 0*/
  margin: auto;
  z-index: +1;
  /*height:100%;*/
}

.float_on_the_right {
  text-align: center;
  top: 15%;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: +1;
  /*height:100%;*/
}

.center-image {
  height: 400px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  border: 2px solid;
  border-radius: 15px 25px;
}

.float_on_the .center-image {
  background: white;
}

.center-image img {
  width: 100%;
  height: 100%;
}

.center-image img:hover {
  opacity: 0.6;
}

.header-line {
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  background-color: #63d488;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.header-line-red {
  -webkit-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  background-color: red;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 12rem;
  padding: 3rem 0;
}

.header .header-title:hover {
  color: #63d488;
}

.header .header-title-red:hover {
  color: red;
}

.header p {
  font-size: 20px;
  margin-top: .25rem;
}

.header-title, .header-title-red {
  margin: 0;
  font-size: 25px;
  line-height: 1.8rem;
}

.link--dark {
  color: #3b3a3a;
}

.color-xs-light-gray {
  color: #c9c9c9;
}

.header-subtitle {
  font-size: 20px;
  margin-top: .25rem;
}

.header-subtitle:hover {
  color: #63d488;
}

.header-subtitle-red {
  font-size: 20px;
  margin-top: .25rem;
}

.header-subtitle-red:hover {
  color: red;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 10px;
  position: relative;
  border: 2px solid;
  border-radius: 15px 25px;
}

.hvrbox img {
  width: 100%;
  height: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #4b6c80;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox-layer_top_black {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox-layer_top_blue {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #1f92b5;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox-layer_top_red {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #cc2929;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_black,
.hvrbox.active .hvrbox-layer_top_black {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_blue,
.hvrbox.active .hvrbox-layer_top_blue {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top_red,
.hvrbox.active .hvrbox-layer_top_red {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 20%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text-line {
  text-align: center;
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 25%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text-line2 {
  text-align: center;
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 28%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text-bottom {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 80%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid #b3b3b3;
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
