/*Loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
#loader2 {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat white;
}

/* Boxes */

.ppp {
  margin: 0 auto;
    max-width: 700px;
    height: 100px;
}
#boxes{
  margin-top:4%;
  /*margin-left: 43%;*/
}

#boxes .box{
  float:left;
  text-align: center;
  width:25%;
  padding:10px;*/
}

#boxes .box img{
  width:50px;
}

/*@media screen and (min-device-width: 700px) and (max-device-width: 1000px) {
  .center-div {
     max-width:100%;
     max-height:100%;
     margin:0 0 0 11%;
     float: left;
   }
}

@media screen and (max-device-width: 700px) {
  .center-div {
     max-width:100%;
     max-height:100%;
     margin:0 0 0 1%;
     float: left;
   }
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1500px) {
  .center-div {
     max-width:100%;
     max-height:100%;
     margin:0 0 0 15%;
     float: left;
   }
}

@media screen and (min-device-width: 1500px) {
  .center-div {
     max-width:100%;
     max-height:100%;
     margin:0 0 0 30%;
     float: left;
   }
}*/

.center-div {
   max-width:100%;
   max-height:100%;
   margin:0 0 0 40%;
   /*float: left;*/
 }

.web-dev-img {
  position: relative;
  /* The image used */
  background-image: url("/images/web_dev_img.jpg");
  /* Set a specific height */
  min-height: 500px;
  text-align: center;
  font-size: 50px;
  color: white;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  /*width: 640px; /*can be in percentage also.*/
  height: auto;
  margin: 0 auto;
  /* padding: 10%; */
  position: relative;
  text-align: center;
  vertical-align: middle;
  /*line-height: 90px;*/
}

@media screen and (min-device-width: 992px) {
  .intro img {
    text-align: center;
  }

  .container-initial {
    background-color: black;
    /*width: 100%;
    margin: 0 auto;*/
    height: 600px;
    margin-top: 3px;
  }

}

/* @media screen and (max-device-width: 992px) {
  .intro img {
    text-align: center;
    width: 600px;
  }

} */

@media screen and (min-device-width: 615px) and (max-device-width: 992px) {
  .intro img {
    text-align: center;
    width: 600px;
  }

  .container-initial {
    background-color: black;
    /*width: 100%;
    margin: 0 auto;*/
    height: 400px;
    margin-top: 3px;
  }

}

@media screen and (max-device-width: 615px) {
  .intro img {
    text-align: center;
    width: 300px;
  }

  .container-initial {
    background-color: black;
    /*width: 100%;
    margin: 0 auto;*/
    height: 200px;
    margin-top: 3px;
  }

}

.intro h1 {
  margin-top: 120px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  font-weight: bold;
}

.intro p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  font-size: 150%
}

nav {
  margin-top:10px;
  text-align: center;
}

#footer-links {
    display: inline-block;
    list-style-type: none;
    display: flex;
  justify-content: space-between;
    /*border: 1px solid black;*/
  /*list-style-type: none;*/
  padding: 10px;
  margin: 0;
    /*justify-content: space-between*/
}

#footer-links li{
  /*float:left;*/
  /*display:inline;*/
  /*padding: 0 30px 0 20px;*/

  /*width:100%;*/
  display:block;
  float: left;
  text-align:center;
}

#footer-links a {
  color: rgb(255, 255, 255);
}

#contact-intro {
  height: auto;
  margin: 0 auto;
  /* padding: 15% 0 0 0; */
  position: relative;
  text-align: center;
  vertical-align: middle;
}

#contact-intro-size {
  font-family: "Segoe UI","Arial","sans-serif";
  font-size: 25px;
  color: Black;
  font-weight: bold;
}

.right a:hover {


	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;


	-webkit-transform: rotate(10deg) scale(1.2);
	-moz-transform: rotate(10deg) scale(1.2);
	-o-transform: rotate(10deg) scale(1.2);
}

.navbar-center {
  width: 70%;
    margin: auto;
}

.footer-color {
  background-color: rgba(56, 55, 55, 0.92);
    width:100%;
    /*position: absolute;*/
    bottom: 0px;
}

.left_container {
  float: left;
  width: 33.33%;
  height: 350px;
    /*height: 200px;
    width: 200px;*/
}

.right_container {
  float: left;
  width: 33.33%;
  height: 350px;

    /*height: 200px;
    width: 200px;*/
}

.center_container {
  width: 33.33%;
  display: inline-block;
  height: 350px;
    /*height: 200px;
    width: 200px;*/
}

.img-center {
  display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.quote {
    border-left: 5px solid #ff5800;
    padding: 0 0 0 35px;
}

.quote_cnt__no-flow {
    color: #2c3e50;
    font-size: 30px;
}

.text-left {
    text-align: left;
}

.content-section {
    width: 85%;
    float: left;
}

.block-section, .content-section {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 0;
    overflow: hidden;
    /*width: 100%;
    float: left;*/
}

.Testimonial-Quote {
    font-family: "Segoe UI","Arial","sans-serif";
    font-size: 30px;
    font-style: italic;
    color: #2c3e50;
    text-align: left;
    line-height: 36px;
    font-weight: lighter;
}

cite {
    color: #99999f;
    font-size: 18px;
    font-style: normal;
}

.small_text {
  font-size: 50%;
}

.blog .post p a{
  color: #ff5b5b;
}

.blog .post .read-more a{
  color: #337ab7;
}

/*.contact {
  float: right;
}*/

/*.center-div {
  float: left
}*/

/* Image slider */

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/*html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); }*/

@media screen and (max-device-width: 600px) {
  .slides {
      padding: 0;
      width: 100%;
      height: 700px;
      display: block;
      margin: 0 0 0 0;
      position: relative;
      float: left;
  }

  .slide {
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;

      transform: scale(0);

      transition: all .7s ease-in-out;
  }

}

@media screen and (min-device-width: 600px) {
  .slides {
      padding: 0;
      width: 100%;
      height: 700px;
      display: block;
      margin: 0 0 0 0%;
      position: relative;
      float: left;
  }

  .slide {
      top: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;

      transform: scale(0);

      transition: all .7s ease-in-out;
  }

}

/*.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}*/

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

/*.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}*/

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/* End of Image SLider */

#header-logo img{
  width: 70px;
  height: 50px;
  float: left;
}

/* Typing animation */
/*

.anim{
  background: #000;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  /*width: 40%;
  height: 50%;*/
/*}

.typing-anim{
  color: lime;
  font-family: "Courier";
  font-size: 15px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

.typing-anim:nth-child(2){
  animation: type2 8s steps(60, end);
}
/*.typing-anim:nth-child(2){
  animation: type2 8s steps(60, end);
}
.typing-anim:nth-child(1){
  animation: type2 8s steps(60, end);
}*/

/*.typing-anim a{
  color: lime;
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}*/

/* End of typing animation */

/* Typing anim 2 */

.anim {
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em 3em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
}

.anim h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
.anim h1 { font-size: 3.5em; }
.anim h2 {
  color: #888;
  font-size: 2em;
}

/* End */

.degree_img img{
      height: 100%;
      width:100%;
}

/*sideNav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /*left: 0;*/
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav div:hover {
    color: #f1f1f1;
}

.sidenav div {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* end sidenav */

/* footer font awesome */

a i {
  color: #000;
}

a i:hover {
  color: #818181;
}

i.download {
  color: red;
}

.footer-desc {
  background-color: rgba(56, 55, 55, 0.92);
}

.lol img {
    width: 100%;
    height: 100%;
}

.resume i {
        /*margin-left: 50%;*/
        /*margin:0 auto;*/
        margin-left: auto;
    margin-right: auto;
    display: table;
}

.resume2 {
      /*margin-left: 44%;*/
      margin-top: 0;
      margin-left: auto;
  margin-right: auto;
  display: table;
}

.row {
    padding-left: 12px;
    padding-right: 12px;
}

.sm4 {
    width: 100%;
}

#hello {
    font-size: 21px;
    text-align: center;
}

#hello h2 {
    margin-top: 80px;
}

#hello h2 .title {
    display: inline-block;
}

#hello h3 {
    font-family: 'Bitter', sans-serif;
    color: #d72b29;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}

#hello p {
    margin: 60px 0;
}

.sm4 h2 {
    font-family: 'Dancing Script', cursive;
    color: #c8c8c8;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}

h2 .title:before {
    display: inline-block;
    width: 40px;
    content: " ";
    border-bottom: 2px solid #c8c8c8;
    margin-right: 20px;
    position: relative;
    top: -10px;
}

h2 .title:after {
    display: inline-block;
    width: 40px;
    content: " ";
    border-bottom: 2px solid #c8c8c8;
    margin-left: 15px;
    position: relative;
    top: -10px;
}

.sm4 p {
    background: white;
    color: #585858;
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
}

/* .intro img {
  height: 35%;
  width: 35%;
} */

#header > div {
  border-bottom-color: red;
  border-bottom-width: thick;
}



/* JUST for the button */

/* body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  background: #FFDC52;
} */

.button {
  background: #eb1f48;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Roboto;
  font-size: 1.5em;
  height: 65px;
  letter-spacing: .2px;
  line-height: 65px;
  text-align: center;
  /* text-transform: uppercase; */
  user-select: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover {
  background: #ec3257;
}
.button:active {
  box-shadow: inset 0px 2px 8px -1px #d7143b;
}

.fancy-button {
  margin: auto;
  position: relative;
  text-align: center;
}

.fancy-button a {
  /* color: none; */
  text-decoration: none;
}

.frills, .frills:after, .frills:before {
  position: absolute;
  background: #eb1f48;
  border-radius: 4px;
  height: 8px;
}

.frills:after, .frills:before {
  content: "";
  display: block;
}

.frills:before {
  bottom: 45px;
}

.frills:after {
  top: 45px;
}

.left-frills {
  left: 40%;
  top: 28.5px;
}
.active .left-frills {
  animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.left-frills:before, .left-frills:after {
  left: 15px;
}
.active .left-frills:before {
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .left-frills:after {
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.right-frills {
  left: 60%;
  top: 28.5px;
}
.active .right-frills {
  animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
}
.right-frills:before, .right-frills:after {
  right: 15px;
}
.active .right-frills:before {
  animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}
.active .right-frills:after {
  animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.left-frills:before, .right-frills:after {
  transform: rotate(34deg);
}

.left-frills:after, .right-frills:before {
  transform: rotate(-34deg);
}

@keyframes move-left {
  0% {
    transform: none;
  }
  65% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(-80px);
  }
}
@keyframes move-right {
  0% {
    transform: none;
  }
  65% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(80px);
  }
}
@keyframes width-to-zero {
  0% {
    width: 38px;
  }
  100% {
    width: 8px;
  }
}
@keyframes move-up {
  100% {
    bottom: 69.75px;
  }
}
@keyframes move-down {
  100% {
    top: 69.75px;
  }
}


.bg-2 {
  /* background: #474e5d; */
  color: #090909;
  padding-bottom: 100px;
  padding-top: 100px;
  text-align: center;
}

section.about {
    margin-top: 0!important;
    margin-bottom: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
    padding: 24px 60px 60px;
    background-color: #181818;
}

section.about .row {
    padding: 25px 0 60px!important;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

section.about h3, section.abput h2, section.about h5{
    color: #dfdfdf;
    font-size: 30px;
}

section.about h2, section.about h4 {
  color: #dfdfdf;
}

section.about p {
    color: #d7d7d7;
    font-size: 15px;
}

section dt {
    font-weight: 1000;
    margin-top: .4rem;
}

section.about dl dt{
    color: #dfdfdf;
}

section dd, section dl, section dt {
    font-size: 15px;
    line-height: 20px;
    color: #d7d7d7;
    font-family: mnbk;
}

section.about dl {
    margin-top: .6rem;
}

section.about iframe {
    border: none;
    z-index: 999;
    background-color: #181818;
    width: 100%;
}
