body {
  margin: 0;
  background-color: #bada55; }

.center {
  text-align: center;
  padding-top: 20%; }
  .center button {
    margin-bottom: 10%; }
    .center button:hover {
      background-color: red; }
